@{
	ViewData["Title"] = "Dashboard";
}

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
	rel="stylesheet"
/>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<script
	src="https://kit.fontawesome.com/50cde61edc.js"
	crossorigin="anonymous"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="/js/site.js"></script>
<div class="container">
	<!--Title-->
	<div class="container text-md-start my-8 mt-9">
		<div class="row align-items-center">
			<h1 class="col-md-6">General Dashboard</h1>
			<div class="form-check form-switch ps-2 align-self-center col-1 me-4 me-md-1">
				<input
					class="form-check-input"
					type="checkbox"
					id="flexSwitchCheckChecked"
					role="switch"/>
			</div>
		</div>
	</div>
	<div class="row d-flex">
		<div onclick="tableTab()" class="local-overview col ms-lg-4 mt-4">
			<!--NODES-->
                <div class="p-1 mt-3 ">
	                <div class="d-flex flex-column">
		                <div class="container global-item">
			                <div class="row align-items-center">
				                <h3 class="col text-center">Node1</h3>
			                </div>
		                </div>
		                <hr/>
		                <div class="container global-item">
			                <div class="row align-items-center">
				                <h3 class="col text-center">Node2</h3>
			                </div>
		                </div>
		                <hr/>
		                <div class="container global-item">
			                <div class="row align-items-center">
				                <h3 class="col text-center">Node3</h3>
			                </div>
		                </div>
		                <hr/>
		                <div class="container global-item">
			                <div class="row align-items-center">
				                <h3 class="col text-center">Node4</h3>
			                </div>
		                </div>
		                <hr/>
		                <div class="container global-item">
			                <div class="row align-items-center">
				                <h3 class="col text-center">Node5</h3>
			                </div>
		                </div>
		                <hr/>
	                </div>
                </div>
		</div>
		<section
			class="global-overview mx-lg-4 col-xl-3 mt-4 flex-lg-shrink-1 me-lg-0">
			<!--Options-->
			<div class="p-1 mt-3">
				<h2 class="mx-3 mb-2 text-center">Value <strong class="text-center">Options</strong></h2>
				<hr/>
				<div class="d-flex flex-column">
					<div onclick="Temperature() "class="container global-item">
						<div class="row align-items-center">
							<h3 class="col text-center">Temperature</h3>
						</div>
					</div>
					<hr/>
					<div onclick="Light()" class="container global-item">
						<div  class="row align-items-center">
							<h3 class="col text-center">Light</h3>
						</div>
					</div>
					<hr/>
					<div onclick="Pressure()"  class="container global-item">
						<div class="row align-items-center">
							<h3 class="col text-center">Pressure</h3>
						</div>
					</div>
					<hr/>
					<div onclick="Humidity()" class="container global-item">
						<div  class="row align-items-center">
							<h3 class="col text-center">Humidity</h3>
						</div>
					</div>
					<hr/>
				</div>
			</div>
		</section>
		<section
			class="global-overview mx-lg-4 col-xl-3 mt-4 flex-lg-shrink-1 me-lg-0">
			<!--Timing options-->
			<div class="p-1 mt-3">
				<h2 class="mx-3 mb-2 text-center">Timing <strong class="text-center">options</strong></h2>
				<hr/>
				<div class="d-flex flex-column">
					<div class="container global-item">
						<div onclick="Hours()" class="row align-items-center">
							<h3 class="col text-center">Hours</h3>
						</div>
					</div>
					<hr/>
					<div class="container global-item">
						<div onclick="Dates()"class="row align-items-center">
							<h3 class="col text-center">Dates</h3>
						</div>
					</div>
					<hr/>
					<div class="container global-item">
						<div onclick="Months()" class="row align-items-center">
							<h3 class="col text-center">Months</h3>
						</div>
					</div>
					<hr/>
				</div>
			</div>
		</section>
		<canvas id="myChart"></canvas>
	</div>
</div>

<script src="/js/button.js"></script>