body {
    display: flow-root;
    justify-content: center;
    flex-direction: column;
    background: #e7edfa;
    font-family: "DM Sans", sans-serif;
}

/* ELEMENT & TEXT STYLES */

h1 {
    font-size: 28px;
    font-weight: bold;
    padding-top: 10px;
}

h2 {
    font-size: 24px;
    font-weight: lighter;
}

h3 {
    font-size: 20px;
    font-weight: lighter;
}

ul {
    list-style-type: none;
    padding: 0;
}

strong {
    font-weight: bold;
}

small {
    font-size: 14px;
}

p {
    margin: 5px 10px;
}

a {
    text-decoration: none;
    color: #0a95c0;
    transition: all 150ms ease-in;
}

a:hover {
    text-decoration: underline;
    background: linear-gradient(rgba(212, 214, 254, 0.8), #9acedd);
    border-radius: 10px;
    padding: 2px 4px;
}

hr {
    margin: 0;
}

footer i {
    font-size: 14px;
    color: rgba(43, 47, 127, 0.8);
}

.toggle-temps {
    font-size: 14px;
    vertical-align: super;
}

.toggle-temps a:hover {
    font-size: 16px;
}

/* THEME TOGGLE SWITCH  */

#flexSwitchCheckChecked {
    padding: 15px 24px;
}

.form-switch .form-check-input {
    margin-left: 0;
}

.form-check-input:checked {
    background-color: #0a95c0;
    border-color: #0a95c0;
}

.form-check-input {
    background-color: #f0f7f8;
    border-color: #0a95c0;
}

/* CONTAINER CONTENT */

.local-overview,
.global-overview {
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.15),
    -2px -2px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background: #fcfcfc;
}

/* GLOBAL STYLES */

.global-item {
    padding: 5px 5px;
}

/* DARK STYLES */

.dark {
    background: #242230;
    color: #f6f7fa;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.dark-container {
    background: #2e3540;
}

.dark-icon i {
    color: rgb(225, 255, 239);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
}

.dark-btn button {
    background: #2e3540;
    border: 1px solid #545555;
}

.dark-btn i {
    color: #f6f7fa;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.dark-hover:hover {
    background: linear-gradient(
            343deg,
            rgba(36, 34, 48, 1) 0%,
            rgba(39, 50, 88, 0.781524926686217) 100%
    );
}

.light-hover:hover {
    background: rgba(149, 205, 236, 0.22);
}

/* Table Style */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


