@{
	ViewData["Title"] = "Dashboard";
}

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
	rel="stylesheet"
/>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<script
	src="https://kit.fontawesome.com/50cde61edc.js"
	crossorigin="anonymous"
></script>

<div class="container">
	<div class="container text-md-start my-8 mt-9">
		<div class="row align-items-center">
			<h1 class="col-md-6">Weather Dashboard</h1>
			<div class="form-check form-switch ps-2 align-self-center col-1 me-4 me-md-1">
				<input
					class="form-check-input"
					type="checkbox"
					id="flexSwitchCheckChecked"
					role="switch"
				/>
			</div>
		</div>
	</div>
	<div class="row d-flex">
		<div class="local-overview col ms-lg-4 mt-4">
			<div class="mx-3 my-4">
				<h2>Forecast in <span id="location">New York, NY</span></h2>
				<h3 id="today">Monday, November 14th at 3:13 AM</h3>
			</div>
			<div class="container flex-md-row flex-column">
				<div class="row">
					<section class="temp-overview col-lg-5">
						<div class="current-weather card">
							<div class="card-body">
								<div class="d-flex">
									<h1 class="flex-grow-1">
										<span id="temp-now">45</span>°<span class="fahrenheit"
											>F
										</span>
										<span class="toggle-temps"
											>/ <a href="#" class="celsius">C</a></span
										>
									</h1>

									<h3 class="text-end pt-2">
										<small>High</small> <span class="temps">50</span>°<span
											class="fahrenheit"
											>F</span
										>
										<br />

										<small>Low </small> <span class="temps">30</span>°<span
											class="fahrenheit"
											>F</span
										>
									</h3>
								</div>
								<br /><br />
								<div class="d-flex">
									<div class="flex-grow-1">
										<p>
											Mostly Sunny<br />
											Feels like <span class="temps">33</span>°<span
												class="fahrenheit"
												>F</span
											>
											<br />
											<small
												><i class="fa-solid fa-umbrella"></i> 1% Chance of
												Rain</small
											>
										</p>
									</div>
									<div>
										<img
											src="/img/assets/light/partly-sunny.png"
											width="100px"
											class="weather-icon"
										/>
									</div>
								</div>
							</div>
						</div>
					</section>
					<div class="w-100 d-lg-none d-block"></div>
					<section
						class="temp-details col-lg-4 col-md-5 mt-3 mt-md-2 mt-lg-0"
					>
						<div class="card p-1">
							<ul class="list-group list-group-flush">
								<li class="list-group-item d-flex">
									<strong class="flex-grow-1">Dew Point </strong>
									<span class="temps">24</span>°<span class="fahrenheit"
										>F
									</span>
									<i class="fa-solid fa-droplet align-self-center"></i>
								</li>
								<li class="list-group-item d-flex">
									<strong class="flex-grow-1">Visibility </strong> 10mi
									<i class="fa-solid fa-eye-slash align-self-center"></i>
								</li>
								<li class="list-group-item d-flex">
									<strong class="flex-grow-1">Wind </strong>10mph
									<i class="fa-solid fa-wind align-self-center"></i>
								</li>
								<li class="list-group-item d-flex">
									<strong class="flex-grow-1">Humidity </strong>10%
									<i class="fa-solid fa-water align-self-center"></i>
								</li>
								<li class="list-group-item d-flex">
									<strong class="flex-grow-1">Precipitation </strong>10%
									<i class="fa-solid fa-cloud-rain align-self-center"></i>
								</li>
							</ul>
						</div>
					</section>
					<div class="w-100 d-md-none d-block"></div>
					<section class="sun-time col-md mt-3 mt-md-2 mt-lg-0">
						<div class="card">
							<img
								src="/img/assets/night-landscape.png"
								class="card-img w-100"
							/>
							<div class="card-img-overlay text-center">
								<i class="fa-solid fa-sun"></i>
								<h3 lass="fw-light">Sunrise</h3>
								<h2>4:43AM</h2>
								<br />
								<i class="fa-solid fa-moon"></i>
								<h3 lass="fw-lighter">Sunset</h3>
								<h2>4:43AM</h2>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
		<div class="w-100 d-lg-none d-block mb-2"></div>
		<section
			class="global-overview mx-lg-4 col-xl-3 mt-4 flex-lg-shrink-1 me-lg-0"
		>
			<div class="p-1 mt-3">
				<h2 class="mx-3 mb-2 text-center">Weather In Other <strong class="text-center">Nodes</strong></h2>
				<hr />
				<div class="d-flex flex-column">
					<div class="container global-item">
						<div class="row align-items-center">
							<h3 class="col text-center">Current Location</h3>
						</div>
					</div>
					<hr />
					<div class="container global-item">
						<div class="row align-items-center">
                        	<h3 class="col text-center">Node 1</h3>
                        </div>
					</div>
					<hr />
					<div class="container global-item">
						<div class="row align-items-center">
                        	<h3 class="col text-center">Node 2</h3>
                        </div>
					</div>
					<hr />
					<div class="container global-item">
						<div class="row align-items-center">
                        	<h3 class="col text-center">Node 3</h3>
                        </div>
					</div>
					<hr />
					<div class="container global-item">
						<div class="row align-items-center">
							<h3 class="col text-center">Node 4</h3>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<footer class="text-center my-3">
		<i class="fa-solid fa-code"></i>
		Designed & Coded by
		<strong
			><a>Klima Watch</a>
		</strong>
	</footer>
</div>
<script src="/js/index.js"></script>
<script src="/js/button.js"></script>
